header {
  height: 78px;
  width: 100vw;
  background-color: aliceblue;
}
#home {
  height: 79px;
  width: 155px;
  float: left;
}
ul li {
  display: inline-block;
  padding: 10px;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 200;
  color: red;
}
.form {
  float: right;
  margin-right: 20px;
}
button {
  display: inline-block;
  background-color: red;
  font-size: 20px;
  font-weight: 200;
  color: white;
  padding: 10px;
  margin: 20px;
}
.tk {
  width: 286px;
  height: 372px;
  border: 1px solid rgb(88, 88, 88);
  margin: 50px;
}
.acc {
  width: 283px;
  height: auto;
}
.ten {
  display: flex;
  justify-content: center;
  margin: 3px;
  font-size: 24px;
  color: red;
}
button:hover {
  background-color: rgb(250, 63, 63);
}
button:active {
  background-color: rgb(225, 253, 62);
  color: black;
}
